// 散樱乱武页面通用样式
// 根据界面宽度或高度中小的那个尺寸，以及最小尺寸计算当前尺寸或字号
@function calcSize($minSize) {
    // 最小尺寸时对应的界面宽度
    $viewWidth: 375;
    // 最小尺寸时对应的界面高度
    $viewHeight: 723;
    // 最小尺寸对应的vw
    $vwSize: calc($minSize / $viewWidth * 100);
    // 最小尺寸对应的vh
    $vhSize: calc($minSize / $viewHeight * 100);
    @return max(min(#{$vwSize}vw, #{$vhSize}vh), #{$minSize}px);
}
// 区域名称字号
$area-name-font-size: calcSize(20);
// 区域图标大小（宽高相同）
$area-icon-size: calcSize(35);
// 区域加减号大小（宽高相同）
$area-add-n-minus-size: calcSize(36);
// 按钮文本字号
$area-info-text-font-size: calcSize(25);
// 按钮图标字号
$area-info-icon-size: calcSize(30);
// 区域token数量字号
$area-count-font-size: calcSize(63);
// 区域token上限字号
$area-limit-font-size: calcSize(10);
// 变化数字提示字号
$change-count-font-size: calcSize(25);

// 普通区域的背景颜色
$area-normal-bg-color: #f7f8fc;
// 区域名称颜色
$area-name-color: #ddd8d7;
// 付与牌区域背景颜色
$area-enhan-bg-color: #e6ffed;
// 付与牌区域名称颜色
$area-enhan-name-color: #8a7975;
// token数量提示组件尺寸
$sakura-token-tip-width: max(min(16.8vw, 8.7vh), 63px);
// token数量提示组件icon尺寸
// token数量提示组件字体大小
// 中心菜单按钮尺寸（宽高相同）
// 中心菜单展开菜单尺寸（宽高相同）
// 中心菜单展开菜单文本大小
// 中心菜单展开菜单icon尺寸
// area的背景层
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    .bg-left {
        width: 50%;
        height: 100%;
        background: $area-normal-bg-color;
        transition: 0.1s all;
    }
    .bg-right {
        width: 50%;
        height: 100%;
        background: $area-normal-bg-color;
        transition: 0.5s all;
    }
    // 激活时的背景
    .activated {
        background: rgba(0, 0, 0, 0.2);
        transition: 0.25s all;
    }
}
// area的信息展示层
.info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .name {
        position: absolute;
        left: 11px;

        top: 11px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: $area-name-font-size;
        line-height: $area-name-font-size;
        display: flex;
        align-items: baseline;
        text-align: center;
        color: $area-name-color;
    }
    .info-text {
        font-weight: 500;
        font-size: $area-info-text-font-size;
        line-height: $area-info-text-font-size;
        text-align: center;
        width: 100%;
    }
    .info-icon {
        width: $area-info-icon-size;
        height: $area-info-icon-size;
        margin-top: 10px;
    }
    // 图标
    .icon {
        position: absolute;
        left: calc($area-name-font-size + 10px);
        .icon-img {
            width: $area-icon-size;
            height: $area-icon-size;
        }
    }
    // 弹出变化的数字
    .change-count-area {
        width: calc($change-count-font-size * 3);
        height: $change-count-font-size;
        position: absolute;
        left: 50%;
        top: calc(50% - calc($area-count-font-size / 1.7));

        translate: -50% -50%;
        overflow: hidden;
        .change-count {
            translate: -50% 100%;
            line-height: $change-count-font-size;
            font-size: $change-count-font-size;
            text-align: center;
            // 变化值为0时
            &.no-change {
                display: none;
                color: rgba(0, 0, 0, 0);
            }
            // token减少时
            &.minus-count {
                translate: 0 0;
                color: #23c3db;
            }
            // token增加时
            &.add-count {
                translate: 0 0;
                color: #cf6379;
            }
        }
    }
    // token数量及限制
    .token {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
    }
    .token-count {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: $area-count-font-size;
        line-height: $area-count-font-size;
    }
    .token-limit {
        position: absolute;
        right: calc(50% - calc(5.5 * $area-limit-font-size));
        bottom: calc(50% - 30px);
        font-size: $area-limit-font-size;
        color: #b0c1d9;
    }
    .minus {
        position: absolute;
        left: 18%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .add {
        position: absolute;
        right: 18%;
        top: 50%;
        transform: translate(50%, -50%);
    }
    // 加减号共用样式
    .sign {
        width: $area-add-n-minus-size;
        height: $area-add-n-minus-size;
    }
}
// area的触摸层
.touch {
    width: 90%;
    height: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    display: flex;
    align-items: center;
    justify-content: center;
    .touch-left {
        width: 50%;
        height: 100%;
    }
    .touch-right {
        width: 50%;
        height: 100%;
    }
}
